<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
</head>
<body>
    <h1>User Registration</h1>
  <form action="#" th:action="@{/register}" th:object="${registerDto}" method="post">
        Hidden field for error message
        <input type="hidden" th:if="${error}" th:field="${error}" />
        
       <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
        </div>
        <div>
            <label for="phno">Phone Number:</label>
            <input type="tel" id="phno" th:field="*{phno}" required />
            <span th:if="${#fields.hasErrors('phno')}" th:errors="*{phno}" class="error"></span>
        </div>
        
     
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>